body{
    background-image: url(../img/img.jpg);
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
    border: 50px solid rgba(91, 255, 247, 0.2);
}
caption {
    padding: 10px;
    color: white;
    background: #8FD4C1;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
}
td {
    padding: 10px;
}
tr:nth-child(odd) {
    background: white;
}
tr:nth-child(even) {
    background: #E8E6D1;
}

.table-wrapper{
    display: flex;
    justify-content: center;
}
.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}
ul li  {
    display: block;
    color: #fff;
    text-decoration: none;
}